@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scrollbar-color: #d946ef rgba(0, 0, 0, 0);
    scrollbar-width: thin;

    /* Pokemon Rarity Colours */
    --color-common-focus: #f1f5f9;
    --color-common-unfocus: white;
    --color-rare-focus: #ea580c;
    --color-rare-unfocus: #f97316;
    --color-epic-focus: #9333ea;
    --color-epic-unfocus: #a855f7;
    --color-legendary-focus: #059669;
    --color-legendary-unfocus: #10b981;
    --color-mega-focus: #dc2626;
    --color-mega-unfocus: #ef4444;
    --color-ub-focus: #1e40af;
    --color-ub-unfocus: #1d4ed8;

    /* Pokemon Type Colours */
    --color-normal: #a8a77a;
    --color-grass: #7ac74c;
    --color-bug: #a6b91a;
    --color-fire: #ee8130;
    --color-electric: #f7d02c;
    --color-ground: #e2bf65;
    --color-water: #6390f0;
    --color-fighting: #c22e28;
    --color-poison: #a33ea1;
    --color-rock: #b6a136;
    --color-ice: #96d9d6;
    --color-ghost: #735797;
    --color-psychic: #f95587;
    --color-fairy: #d685ad;
    --color-dark: #705746;
    --color-dragon: #6f35fc;
    --color-steel: #b7b7ce;
    --color-flying: #a98ff3;

    /* Modal Button */
    --color-red-btn-focus: #dc2626;
    --color-red-btn-unfocus: #ef4444;
  }
}

.day {
  --color-purple-btn-focus: #7c3aed;
  --color-purple-btn-unfocus: #8b5cf6;
  --color-blue-btn-focus: #4f46e5;
  --color-blue-btn-unfocus: #6366f1;
  --color-green-btn-focus: #059669;
  --color-green-btn-unfocus: #22c55e;
  --color-red-btn-focus: #dc2626;
  --color-red-btn-unfocus: #ef4444;
  --color-orange-btn-focus: #ea580c;
  --color-orange-btn-unfocus: #f97316;
  --color-lime-btn-focus: #65a30d;
  --color-lime-btn-unfocus: #84cc16;
  --color-yellow-btn-focus: #eab308;
  --color-yellow-btn-unfocus: #facc15;
  --color-text: black;
  --color-sidebar-focus: white;
  --color-sidebar-unfocus: #cbd5e1;
  --color-tooltip: #cbd5e1;
  --color-tooltip-border: black;
}

.night {
  --color-purple-btn-focus: #5b21b6;
  --color-purple-btn-unfocus: #6d28d9;
  --color-blue-btn-focus: #312e81;
  --color-blue-btn-unfocus: #3730a3;
  --color-green-btn-focus: #065f46;
  --color-green-btn-unfocus: #15803d;
  --color-red-btn-focus: #b91c1c;
  --color-red-btn-unfocus: #dc2626;
  --color-orange-btn-focus: #c2410c;
  --color-orange-btn-unfocus: #ea580c;
  --color-lime-btn-focus: #4d7c0f;
  --color-lime-btn-unfocus: #65a30d;
  --color-text: rgb(240, 220, 252);
  --color-sidebar-focus: #3b0764;
  --color-sidebar-unfocus: #7e22ce;
  --color-tooltip: #28284e;
  --color-tooltip-border: #6943ff62;

  /* Pokemon Rarity Colours */
  --color-common-focus: #475569;
  --color-common-unfocus: #64748b;
}

.day.blue {
  --color-bg-left: #06b6d4;
  --color-bg-right: #6366f1;
  --color-ball: #10b981;
}

.night.blue {
  --color-bg-left: #164e63;
  --color-bg-right: #1e1b4b;
  --color-ball: #15803d;
}

.day.purple {
  --color-bg-left: #8b5cf6;
  --color-bg-right: #a855f7;
  --color-ball: #34d399;
}

.night.purple {
  --color-bg-left: #581c87;
  --color-bg-right: #28284e;
  --color-ball: #581c87;
}

.day.green {
  --color-bg-left: #22c55e;
  --color-bg-right: #10b981;
  --color-ball: #14b8a6;
}

.night.green {
  --color-bg-left: #3f6212;
  --color-bg-right: #065f46;
  --color-ball: #c2410c;
}

.day.orange {
  --color-bg-left: #fb923c;
  --color-bg-right: #f59e0b;
  --color-ball: #84cc16;
}

.night.orange {
  --color-bg-left: #9a3412;
  --color-bg-right: #854d0e;
  --color-ball: #991b1b;
}

/* Scrollbar */
html::-webkit-scrollbar,
div::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-track,
div::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

html::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-track {
  background-color: #d946ef;
}

/* html::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb {
  background-color: #d946ef;
} */

a span {
  color: rgb(37, 99, 235);
}

a span:visited {
  color: rgb(147, 51, 234);
}

button {
  outline: none;
}

/* Sidebar */
.sidebar {
  transition: all 0.5s;
}

/* Tooltip */
.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: absolute;
  top: calc(0% - 50px);
  transform: translateX(-40%);
}

/* Sprite */
.pixelated {
  image-rendering: pixelated;
}

/* Card Grid */
.cards {
  grid-template-columns: repeat(auto-fill, 260px);
}

/* Ball Grid */
.balls {
  grid-template-columns: repeat(auto-fill, 288px);
}

.trades {
  grid-template-columns: repeat(auto-fill, 600px);
}

/* Card Hover Animation */
/* https://codepen.io/nxworld/pen/vrpJZN */
.card-contents {
  transition: 0.5s ease;
}

.card-hover {
  position: absolute;
  z-index: 2;
  width: calc(100% / 3);
  height: calc(100% / 3);
}

.card-hover:nth-child(1) {
  top: 0;
  left: 0;
}

.card-hover:nth-child(2) {
  top: 0;
  left: calc(100% / 3);
}

.card-hover:nth-child(3) {
  top: 0;
  right: 0;
}

.card-hover:nth-child(4) {
  top: calc(100% / 3);
  left: 0;
}

.card-hover:nth-child(5) {
  top: calc(100% / 3);
  right: 0;
}

.card-hover:nth-child(6) {
  bottom: 0;
  left: 0;
}

.card-hover:nth-child(7) {
  bottom: 0;
  left: calc(100% / 3);
}

.card-hover:nth-child(8) {
  bottom: 0;
  right: 0;
}

.card-hover:nth-child(1):hover ~ .card-contents {
  box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.3);
  transform-origin: right top;
  transform: perspective(1000px) rotateX(10deg) rotateY(-10deg) rotateZ(2deg);
}

.card-hover:nth-child(2):hover ~ .card-contents {
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.3);
  transform-origin: center top;
  transform: perspective(1000px) rotateX(10deg);
}

.card-hover:nth-child(3):hover ~ .card-contents {
  box-shadow: -15px 15px 50px rgba(0, 0, 0, 0.3);
  transform-origin: left top;
  transform: perspective(1000px) rotateX(10deg) rotateY(10deg) rotateZ(-2deg);
}

.card-hover:nth-child(4):hover ~ .card-contents {
  box-shadow: 15px 5px 50px rgba(0, 0, 0, 0.3);
  transform-origin: left center;
  transform: perspective(1000px) rotateY(-10deg);
}

.card-hover:nth-child(5):hover ~ .card-contents {
  box-shadow: -15px 5px 50px rgba(0, 0, 0, 0.3);
  transform-origin: right center;
  transform: perspective(1000px) rotateY(10deg);
}

.card-hover:nth-child(6):hover ~ .card-contents {
  box-shadow: 15px -15px 50px rgba(0, 0, 0, 0.3);
  transform-origin: right bottom;
  transform: perspective(1000px) rotateX(-10deg) rotateY(-10deg) rotateZ(-2deg);
}

.card-hover:nth-child(7):hover ~ .card-contents {
  box-shadow: 0 -15px 50px rgba(0, 0, 0, 0.3);
  transform-origin: center bottom;
  transform: perspective(1000px) rotateX(-10deg);
}

.card-hover:nth-child(8):hover ~ .card-contents {
  box-shadow: -15px -15px 50px rgba(0, 0, 0, 0.3);
  transform-origin: left bottom;
  transform: perspective(1000px) rotateX(-10deg) rotateY(10deg) rotateZ(2deg);
}

/* Loading Animation */
.ring {
  animation: ring 2s linear infinite;
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #ef4444;
  }
  6.25% {
    transform: rotate(22.5deg);
    box-shadow: 1px 5px 2px #f97316;
  }
  12.5% {
    transform: rotate(45deg);
    box-shadow: 1px 5px 2px #f59e0b;
  }
  18.75% {
    transform: rotate(67.5deg);
    box-shadow: 1px 5px 2px #eab308;
  }
  25% {
    transform: rotate(90deg);
    box-shadow: 1px 5px 2px #84cc16;
  }
  31.25% {
    transform: rotate(112.5deg);
    box-shadow: 1px 5px 2px #22c55e;
  }
  37.5% {
    transform: rotate(135deg);
    box-shadow: 1px 5px 2px #10b981;
  }
  43.75% {
    transform: rotate(157.5deg);
    box-shadow: 1px 5px 2px #14b8a6;
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px #06b6d4;
  }
  56.25% {
    transform: rotate(202.5deg);
    box-shadow: 1px 5px 2px #0ea5e9;
  }
  62.5% {
    transform: rotate(225deg);
    box-shadow: 1px 5px 2px #3b82f6;
  }
  68.75% {
    transform: rotate(247.5deg);
    box-shadow: 1px 5px 2px #6366f1;
  }
  75% {
    transform: rotate(270deg);
    box-shadow: 1px 5px 2px #8b5cf6;
  }
  81.25% {
    transform: rotate(292.5deg);
    box-shadow: 1px 5px 2px #a855f7;
  }
  87.5% {
    transform: rotate(315deg);
    box-shadow: 1px 5px 2px #d946ef;
  }
  93.75% {
    transform: rotate(337.5deg);
    box-shadow: 1px 5px 2px #ec4899;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px #f43f5e;
  }
}

/* Fade Home Page In */
.fade-in {
  animation: fadeIn 4s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    z-index: 0;
  }
  100% {
    opacity: 1;
    z-index: 0;
  }
}

/* Candy Cane https://codemyui.com/css-only-candy-cane-text-animation/ */
.candy-cane {
  font-family: "Open Sans", sans-serif;
  background: repeating-linear-gradient(
    45deg,
    white,
    white 30px,
    red 30px,
    red 60px
  );
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  animation: 40s linear 0s infinite move;
}

@keyframes move {
  from {
    background-position: 0px;
  }
  to {
    background-position: 1000px;
  }
}

/* https://www.youtube.com/watch?v=eMPNVtsBY_o */
.new-year {
  font-family: "Open Sans", sans-serif;
  text-shadow:
    0 0 10px yellow,
    0 0 25px yellow;
  animation: glow 2.5s linear infinite;
}

@keyframes glow {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.pokezoo {
  color: transparent;
}

.pokezoo span {
  animation: animate 4s linear infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
  0% {
    color: #fff;
    filter: blur(0px) hue-rotate(0deg);
    text-shadow:
      0 0 10px #00b3ff,
      0 0 20px #00b3ff,
      0 0 40px #00b3ff,
      0 0 80px #00b3ff,
      0 0 120px #00b3ff,
      0 0 200px #00b3ff,
      0 0 300px #00b3ff,
      0 0 400px #00b3ff;
  }
  30%,
  70% {
    color: #fff;
    filter: blur(0px) hue-rotate(360deg);
    text-shadow:
      0 0 10px #00b3ff,
      0 0 20px #00b3ff,
      0 0 40px #00b3ff,
      0 0 80px #00b3ff,
      0 0 120px #00b3ff,
      0 0 200px #00b3ff,
      0 0 300px #00b3ff,
      0 0 400px #00b3ff;
  }
  100% {
    color: transparent;
    box-shadow: none;
    filter: blur(0px) hue-rotate(0deg);
  }
}
