@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");

@layer base {
  html {
    font-family: "Dosis", sans-serif;
    scrollbar-color: #d946ef rgba(0, 0, 0, 0);
    scrollbar-width: thin;
  }
}

html {
  --color-bg-left: #06b6d4;
  --color-bg-right: #6366f1;
  --color-purple-btn-focus: #7c3aed;
  --color-purple-btn-unfocus: #8b5cf6;
  --color-blue-btn-focus: #4f46e5;
  --color-blue-btn-unfocus: #6366f1;
  --color-green-btn-focus: #059669;
  --color-green-btn-unfocus: #22c55e;
  --color-red-btn-focus: #dc2626;
  --color-red-btn-unfocus: #ef4444;
  --color-orange-btn-focus: #ea580c;
  --color-orange-btn-unfocus: #f97316;
  --color-lime-btn-focus: #65a30d;
  --color-lime-btn-unfocus: #84cc16;
  --color-yellow-btn-focus: #eab308;
  --color-yellow-btn-unfocus: #facc15;
  --color-text: black;
  --color-sidebar-focus: white;
  --color-sidebar-unfocus: #cbd5e1;
  --color-ball: #10b981;
  --color-tooltip: #1d4ed8;
  --color-tooltip-border: black;

  /* Pokemon Rarity Colours */
  --color-common-focus: #f1f5f9;
  --color-common-unfocus: white;
  --color-rare-focus: #ea580c;
  --color-rare-unfocus: #f97316;
  --color-epic-focus: #9333ea;
  --color-epic-unfocus: #a855f7;
  --color-legendary-focus: #059669;
  --color-legendary-unfocus: #10b981;

  /* Pokemon Type Colours */
  --color-normal: #a8a77a;
  --color-grass: #7ac74c;
  --color-bug: #a6b91a;
  --color-fire: #ee8130;
  --color-electric: #f7d02c;
  --color-ground: #e2bf65;
  --color-water: #6390f0;
  --color-fighting: #c22e28;
  --color-poison: #a33ea1;
  --color-rock: #b6a136;
  --color-ice: #96d9d6;
  --color-ghost: #735797;
  --color-psychic: #f95587;
  --color-fairy: #d685ad;
  --color-dark: #705746;
  --color-dragon: #6f35fc;
  --color-steel: #b7b7ce;
  --color-flying: #a98ff3;
}

html .night {
  --color-bg-left: #581c87;
  --color-bg-right: #28284e;
  --color-purple-btn-focus: #5b21b6;
  --color-purple-btn-unfocus: #6d28d9;
  --color-blue-btn-focus: #312e81;
  --color-blue-btn-unfocus: #3730a3;
  --color-green-btn-focus: #065f46;
  --color-green-btn-unfocus: #15803d;
  --color-red-btn-focus: #b91c1c;
  --color-red-btn-unfocus: #dc2626;
  --color-orange-btn-focus: #c2410c;
  --color-orange-btn-unfocus: #ea580c;
  --color-lime-btn-focus: #4d7c0f;
  --color-lime-btn-unfocus: #65a30d;
  --color-text: rgb(240, 220, 252);
  --color-sidebar-focus: #3b0764;
  --color-sidebar-unfocus: #7e22ce;
  --color-ball: #581c87;
  --color-tooltip: #28284e;
  --color-tooltip-border: #6943ff62;

  /* Pokemon Rarity Colours */
  --color-common-focus: #475569;
  --color-common-unfocus: #64748b;
}

/* Scrollbar */
html::-webkit-scrollbar,
div::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-track,
div::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

html::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb {
  background-color: #d946ef;
}

a span {
  color: rgb(37, 99, 235);
}

a span:visited {
  color: rgb(147, 51, 234);
}

/* Sidebar */
.sidebar {
  transition: all 0.5s;
}

/* Tooltip */
.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: absolute;
  top: calc(0% - 50px);
  transform: translateX(-40%);
}

/* Sprite */
.pixelated {
  image-rendering: pixelated;
}

/* Card Grid */
.cards {
  grid-template-columns: repeat(auto-fill, 260px);
}

/* Ball Grid */
.balls {
  grid-template-columns: repeat(auto-fill, 288px);
}

.trades {
  grid-template-columns: repeat(auto-fill, 600px);
}

/* Card Hover Animation */
.card-hover:hover {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

/* Loading Animation */
.ring {
  animation: ring 2s linear infinite;
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #ef4444;
  }
  6.25% {
    transform: rotate(22.5deg);
    box-shadow: 1px 5px 2px #f97316;
  }
  12.5% {
    transform: rotate(45deg);
    box-shadow: 1px 5px 2px #f59e0b;
  }
  18.75% {
    transform: rotate(67.5deg);
    box-shadow: 1px 5px 2px #eab308;
  }
  25% {
    transform: rotate(90deg);
    box-shadow: 1px 5px 2px #84cc16;
  }
  31.25% {
    transform: rotate(112.5deg);
    box-shadow: 1px 5px 2px #22c55e;
  }
  37.5% {
    transform: rotate(135deg);
    box-shadow: 1px 5px 2px #10b981;
  }
  43.75% {
    transform: rotate(157.5deg);
    box-shadow: 1px 5px 2px #14b8a6;
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px #06b6d4;
  }
  56.25% {
    transform: rotate(202.5deg);
    box-shadow: 1px 5px 2px #0ea5e9;
  }
  62.5% {
    transform: rotate(225deg);
    box-shadow: 1px 5px 2px #3b82f6;
  }
  68.75% {
    transform: rotate(247.5deg);
    box-shadow: 1px 5px 2px #6366f1;
  }
  75% {
    transform: rotate(270deg);
    box-shadow: 1px 5px 2px #8b5cf6;
  }
  81.25% {
    transform: rotate(292.5deg);
    box-shadow: 1px 5px 2px #a855f7;
  }
  87.5% {
    transform: rotate(315deg);
    box-shadow: 1px 5px 2px #d946ef;
  }
  93.75% {
    transform: rotate(337.5deg);
    box-shadow: 1px 5px 2px #ec4899;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px #f43f5e;
  }
}

/* Fade Home Page In */
.fade-in {
  animation: fadeIn 4s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    z-index: 0;
  }
  100% {
    opacity: 1;
    z-index: 0;
  }
}
