@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");

@layer base {
  html {
    font-family: "Dosis", sans-serif;
  }
}

/* Tooltip */
.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: absolute;
  top: calc(100%);
}

/* Sprite */
.pixelated {
  image-rendering: pixelated;
}

/* Card Grid */
.cards {
  grid-template-columns: repeat(auto-fill, 208px);
}

/* Card Hover Animation */
.card-hover:hover {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

/* Loading Animation */
.ring {
  animation: ring 2s linear 4;
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #ef4444;
  }
  6.25% {
    transform: rotate(22.5deg);
    box-shadow: 1px 5px 2px #f97316;
  }
  12.5% {
    transform: rotate(45deg);
    box-shadow: 1px 5px 2px #f59e0b;
  }
  18.75% {
    transform: rotate(67.5deg);
    box-shadow: 1px 5px 2px #eab308;
  }
  25% {
    transform: rotate(90deg);
    box-shadow: 1px 5px 2px #84cc16;
  }
  31.25% {
    transform: rotate(112.5deg);
    box-shadow: 1px 5px 2px #22c55e;
  }
  37.5% {
    transform: rotate(135deg);
    box-shadow: 1px 5px 2px #10b981;
  }
  43.75% {
    transform: rotate(157.5deg);
    box-shadow: 1px 5px 2px #14b8a6;
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px #06b6d4;
  }
  56.25% {
    transform: rotate(202.5deg);
    box-shadow: 1px 5px 2px #0ea5e9;
  }
  62.5% {
    transform: rotate(225deg);
    box-shadow: 1px 5px 2px #3b82f6;
  }
  68.75% {
    transform: rotate(247.5deg);
    box-shadow: 1px 5px 2px #6366f1;
  }
  75% {
    transform: rotate(270deg);
    box-shadow: 1px 5px 2px #8b5cf6;
  }
  81.25% {
    transform: rotate(292.5deg);
    box-shadow: 1px 5px 2px #a855f7;
  }
  87.5% {
    transform: rotate(315deg);
    box-shadow: 1px 5px 2px #d946ef;
  }
  93.75% {
    transform: rotate(337.5deg);
    box-shadow: 1px 5px 2px #ec4899;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px #f43f5e;
  }
}

/* Change Text When Loading Animation Ends */
.change-text:before {
  content: "LOADING...";
  animation: changeText 8s forwards;
}

@keyframes changeText {
  99% {
    content: "LOADING...";
  }
  100% {
    content: "LOADING COMPLETE";
  }
}

/* Fade Loading Ring Out */
.fade-out {
  animation: fadeOut 5s forwards;
  animation-delay: 8s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    z-index: 10;
  }

  to {
    opacity: 0;
    z-index: 0;
  }
}

/* Fade Home Page In */
.fade-in:after {
  animation: fadeIn 16s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    z-index: 0;
  }
  50% {
    opacity: 0;
    z-index: 10;
  }
  100% {
    opacity: 1;
    z-index: 20;
  }
}
